.rightbar {
  flex: 3;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImg {
  width: 40px;
  margin-right: 10px;
}

.birthdayText {
  font-weight: 300;
}

.rightbarAd {
  border-radius: 10px;
  width: 100%;
  margin: 30px 0;
}

.rightbarTitle {
  font-size: 20px;
}

.rightbarFriendList {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
}

.rightbarTitle {
  font-size: 30px;
  margin-bottom: 20px;
}

.rightbarInfo {
  margin-bottom: 20px;
}

.rightbarInfoItem {
  margin-bottom: 10px;
}

.rightbarInfoKey {
  font-weight: 500;
  font-size: 18px;
  color: #555;
  margin-right: 5px;
}

.rightbarInfoValue {
  font-weight: 300;
}

.rightbarFollowingImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.rightbarFollowings {
  display: flex;
  flex-wrap: wrap;
}

.rightbarFollowing {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
