.login {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

.loginLogo {
  font-size: 50px;
  color: rgb(0, 162, 255);
  font-weight: 600;
  margin-bottom: 10px;
}

.loginDesc {
  font-size: 25px;
}

.loginBox {
  height: 300px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: 1px solid gray;
  padding-left: 20px;
  font-size: 20px;
}

.loginButton {
  height: 50px;
  border-radius: 10px;
  background-color: rgb(0, 162, 255);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
}

.loginForgot {
  text-align: center;
  color: rgb(0, 162, 255);
  cursor: pointer;
}

.loginRegisterButton {
  height: 50px;
  width: 70%;
  align-self: center;
  border-radius: 10px;
  background-color: rgb(0, 184, 0);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
}